.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 80%;
}

.container h1 {
    font-size: 32px;
    margin: 10px;
}

.container button {
    cursor: pointer;
    height: 32px;
    border-radius: 4px;
    border: none;
    background-color: rgb(44, 13, 123);
    color: white;
    font-size: 16px;
    border: 1px solid black;
}

.container button:hover{
    color: rgb(44, 13, 123);
    background-color: white;
    transition: 0.5s
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input input {
    height: 32px;
    border-radius: 4px;
    border: 1px solid black;
    padding: 5px;
}