.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    height: 100%;
    background-color: rgb(44, 13, 123);
}

.container h2 {
    color: white;
    font-size: 24px;
    padding: 24px;
}

.container nav {
    width: 100%;
}

.navList{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.navSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.navSection a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.navSection hr {
    width: 100%;
}

.navSection a:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease, color 0.2s ease;

}