* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

button {
    cursor: pointer;
}