.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 50px;
    height: 10%;
    background-color: rgb(44, 13, 123);
    margin-bottom: 20px;
}

.container a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.container nav {
    display: flex;
    flex-direction: column;
}

.container nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.linkItem {
    list-style: none;
    font-size: 16px;
}

.linkItem:hover {
    font-size: 18px;
    transition: 0.5s;
}